body {
	padding: 0;
	margin: 0;
}

.color-red {
	color: red;
}

.color-green {
	color: green;
}

.loginScreen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 100px;
}

.loginSub {
	border: 1px solid lightgray;
	border-radius: 10px;
	padding: 100px;
	width: 40%;
}

.table tr td {
	border: none;
}
